.Eventdetails {
  position: fixed;
  top: 55px;
  bottom: 5px;
  right: 5px;
  width: 24%;
  /* display: flex;
    align-items: flex-start; */
  background-color: rgba(20, 21, 24, 0.9);
  z-index: 99;
  /*  overflow-y: auto; */
  .detailCollapse {
    max-height: calc(100% - 330px);
    overflow-y: auto;
    :global(.ant-collapse > .ant-collapse-item) {
      &:nth-child(1) {
        :global(.ant-collapse-content) {
          border-top: none;
        }
      }
      :global(.ant-collapse-header .ant-collapse-arrow) {
        right: 16px;
        left: auto;
      }
    }
  }
  :global(.ant-collapse) {
    width: 100%;
    border: none !important;
    max-height: calc(100% - 45px);
    /* overflow-y: auto; */
    background-color: transparent;
  }
  :global(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
    background: rgba(19, 27, 37, 0.8);
    padding-left: 30px;
    font-family: FZLTZCHK--GBK1-0;
    color: #ffffff;
  }

  :global(.anticon-setting svg) {
    color: #2d81ad;
    &:hover {
      transition: all 0.5s;
      transform: rotate(180deg);
      color: #26ff6d;
    }
  }

  :global(.anticon-plus svg) {
    color: #2d81ad;
    font-size: 17px;
    margin-top: -9px;
    &:hover {
      transition: all 0.5s;
      transform: rotate(180deg);
      color: #26ff6d;
      font-size: 18px;
    }
  }
  :global(.ant-collapse > .ant-collapse-item) {
    border: none !important;
    &:nth-child(1) {
      :global(.ant-collapse-content) {
        border-top: 1px solid #fff;
      }
    }
  }
  :global(.ant-collapse-content) {
    border: none;
    color: #fff;
    background-color: transparent;
  }
  :global(.ant-collapse-content > .ant-collapse-content-box) {
    padding: 8px 0;
  }
  .PanelChs {
    border: none !important;
    :global(.ant-collapse-header) {
      color: #446b92 !important;
      height: 25px;
      line-height: 0;
    }
    /* :global(.ant-collapse-content) {
        border: none !important;
        color: #fff;
        background-color: transparent;
      } */
  }
  .ScrollItem {
    max-height: 135px;
    overflow-y: auto;
  }
  .PanelBox {
    position: relative;
    margin-top: 20px;
    &:last-child {
      margin-bottom: 20px;
    }
    .PanelItem {
      height: 25px;
      line-height: 25px;
      margin: 0;
      text-indent: 22px;
      color: #646a82;
      background: #0e151d;
      cursor: pointer;
      margin: 0 13px !important;
      font-family: FZLTZHUNHK--GBK1-0;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        color: #fff;
        background: #0d2645;
      }
    }
    .MinusItem {
      position: absolute;
      right: 15px;
      top: 4px;
      cursor: pointer;
      color: #2d81ad;
      &:hover {
        transition: all 0.5s;
        transform: rotate(180deg);
        color: #26ff6d;
      }
    }
  }

  .Close {
    position: absolute;
    top: 16px;
    left: 10px;
    color: #2d81ad;
    cursor: pointer;
    & svg:hover {
      transition: all 0.5s;
      transform: rotate(180deg);
      color: #26ff6d;
    }
  }
  .Panelbutton {
    width: 160px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background: #143757;
    color: #fff;
    position: absolute;
    bottom: 10px;
    cursor: pointer;
    left: 50%;
    margin-left: -80px;
    > span {
      width: 100%;
      height: 100%;
      display: inline-block;
    }
    &:hover {
      color: #26ff6d;
    }
  }
}
.Content {
  width: 100%;
  height: calc(100% - 140px);
  .Header {
    width: 100%;
    height: 30px;
    display: inline-block;
    padding: 0px 22px;
    span {
      width: 60%;
      height: 100%;
      display: inline-block;
      line-height: 30px;
      // font-size: 12px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: middle;
      font-family: FZLTZHUNHK--GBK1-0;
    }
  }
  .ItemBox {
    width: 100%;
    .HeadItem {
      width: 100%;
      height: 20px;
      line-height: 20px;
      background: #0e151d;
      display: inline-block;
      color: #4a759c;
      padding: 0px 22px;
      margin: 5px 0;
      font-family: FZLTZCHK--GBK1-0;
      .AddItem {
        float: right;
        cursor: pointer;
        &:hover {
          color: #26ff6d;
        }
      }
    }
    .RowBox {
      width: 100%;
      margin: 6px 0;
      padding: 0px 22px;
      color: #6d738d;
      font-family: FZLTZHUNHK--GBK1-0;
      > p {
        width: 50%;
        display: inline-block;
        :global(.ant-switch) {
          background-color: #191c22;
          border: 1px solid #959595;
        }
        :global(.ant-switch-checked) {
          background-color: #26ff6d !important;
          border: 1px solid #959595;
        }
      }
      .InputBox {
        width: 100%;
        text-align: left;
        margin: 10px 0;
        justify-content: flex-start;
        display: flex;
        flex-wrap: nowrap;
      }
    }
  }
}
