.EqMain {
  height: calc(100vh - 54.5px);
  background: #0e151d;
  position: relative;
  .EqCentent {
    position: absolute;
    width: calc(100% - 333px);
    height: 100%;
    right: 10px;
    .Button {
      width: 80px;
      height: 25px;
      display: inline-block;
      background: #1a416a;
      border: 1px solid #969495;
      margin: 0 5px;
      color: #fff;
      text-align: center;
      line-height: 25px;
      border-radius: 0;
      cursor: pointer;
      &:hover {
        background: #0b0e13;
      }
    }
    .Operation {
      width: 100%;
      height: 60px;
      .leftItem {
        height: 100%;
        line-height: 60px;
        display: inline-block;
        > div {
          width: 200px;
          height: 25px;
          display: inline-block;
          :global(.ant-input) {
            height: 25px;
            line-height: 25px;
            color: #fff;
            background-color: transparent;
            border: 1px solid #969495;
            border-radius: 0;
          }
        }
      }
      .rightItem {
        float: right;
        line-height: 60px;
      }
    }
    .ContetList {
      width: 100%;
      height: calc(100% - 135px);
      background: #0b0e13;
      .listItems {
        display: flex;
        padding: 0 25px;
        height: calc((100% - 75px) / 10);
        &:nth-child(1) {
          height: 75px;
          background: #0f1923;
          border-bottom: 1px solid #696969;
        }
        color: #fff;
        .listTd {
          flex: 1;
          display: flex;
          height: 100%;
          justify-content: center;
          align-items: center;
          overflow: hidden;
          .roadName {
            max-width: 100%;
            display: inline-block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            word-break: break-all;
          }
        }
      }
    }
    .Footer {
      width: 100%;
      height: 75px;
      :global(.ant-pagination-item) {
        background: transparent;
        a {
          color: #fff;
        }
      }
      :global(.ant-pagination-prev, .ant-pagination-next, .ant-pagination-jump-prev, .ant-pagination-jump-next) {
        background: transparent;
      }
      .page {
        color: #fff;
        float: right;
        margin-top: 20px;
        margin-right: 40px;
        :global(.ant-pagination) {
          display: inline-block;
          color: #fff;
        }
        :global(.ant-pagination-options-quick-jumper input) {
          background: transparent;
          color: #fff;
        }
        :global(.ant-pagination-next .ant-pagination-item-link) {
          background: transparent;
          color: #fff;
        }
        :global(.ant-pagination-prev .ant-pagination-item-link) {
          background: transparent;
          color: #fff;
        }
        :global(.ant-pagination-jump-next .ant-pagination-item-container .ant-pagination-item-ellipsis) {
          color: #ccc;
        }
        .count {
          height: 32px;
          line-height: 32px;
          display: inline-block;
          vertical-align: top;
          margin-right: 30px;
        }
      }
    }
  }
}
.MaskBox {
  width: 100%;
  height: 100%;
  background: rgba(19, 31, 45, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  .AddBox {
    width: 892px;
    height: 532px;
    background: #101113;
    color: #fff;
    border: 1px solid #173653;
    .Title {
      width: 100%;
      height: 50px;
      background: #121e2c;
      line-height: 50px;
      text-indent: 25px;
      position: relative;
      font-size: 18px;
      margin-bottom: 20px;
      .Close {
        position: absolute;
        top: 16px;
        right: 25px;
        color: #fff;
        cursor: pointer;
        & svg:hover {
          transition: all 0.5s;
          transform: rotate(180deg);
          color: #26ff6d;
        }
      }
    }
    .Conten {
      width: 100%;
      height: calc(100% - 50px);
      .ItemLine {
        height: 30px;
        margin: 20px 0;
        position: relative;
        > .Item {
          display: inline-block;
          position: relative;
          width: 50%;
          // 修改input 框样式
          :global(.ant-input) {
            height: 30px;
            line-height: 30px;
            color: #fff;
            background-color: #191c22;
            border: 1px solid #959595;
            border-radius: 0;
          }
          :global(.ant-form-item-label > label) {
            color: #687085;
          }
          // 下拉框
          :global(.ant-select-selection) {
            background-color: #191c22;
            color: #ccc;
          }
          :global(.anticon svg) {
            color: #fff;
          }
          :global(.ant-select-dropdown) {
            background-color: #191c22;
            color: #ccc;
          }
          .anttext {
            color: #fff;
            width: 260px;
            height: 30px;
            line-height: 30px;
            display: inline-block;
            text-indent: 10px;
            background-color: #191c22;
            border: 1px solid #959595;
          }
          .ItemGuan {
            width: 70%;
            float: right;
            .anttext {
              width: 160px;
            }
          }
          .ItemBt {
            position: absolute;
            top: 6px;
          }
        }
      }
    }
    .Footer {
      width: 100%;
      height: 110px;
      line-height: 110px;
      text-align: center;
    }
    .Button {
      width: 80px;
      height: 25px;
      display: inline-block;
      background: #1a416a;
      border: 1px solid #969495;
      margin: 0 40px;
      color: #fff;
      text-align: center;
      line-height: 25px;
      cursor: pointer;
      border-radius: 0;
      &:hover {
        background: #0b0e13;
      }
    }
    .treeData {
      :global(.ant-tree li .ant-tree-node-content-wrapper) {
        color: #fff;
      }
      :global(.ant-tree li .ant-tree-node-content-wrapper:hover) {
        background-color: transparent !important;
      }
      :global(.ant-form-item-label > label) {
        color: #687085;
      }
      :global(.ant-tree-switcher svg) {
        color: #fff;
      }
      :global(.ant-tree-checkbox-inner) {
        background-color: #191c22;
        border: 1px solid #959595;
      }
      :global(.ant-tree) {
        max-height: 201px;
        overflow-y: auto;
      }
    }
  }
}
.noData {
  font-size: 30px;
  color: #687085;
  position: absolute;
  top: 40%;
  left: 50%;
  margin-left: -105px;
}