.navWrapper_left {
  width: 280px;
  height: 31px;
  line-height: 32px;
  text-align: center;
  display: inline-block;
  font-size: 12px;
  position: absolute;
  right: 120px;
  top: 8px;
  font-family: MicrosoftYaHei;
  font-size: 14px;
  color: #FFFFFF;
  span {
    margin-left: 17px;
  }
}
