.MonitoringModule {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  .searchBox {
    position: absolute;
    top: 55px;
    left: 24%;
    z-index: 9;
    margin-left: 15px;
    :global(.ant-input) {
      height: 28px;
      line-height: 28px;
      background: rgba(21, 24, 30, 0.7);
      border-radius: unset;
      border-color: #959595;
      color: #fff;
      font-size: 12px;
    }
    :global(.ant-input-search-button) {
      border: unset;
      height: 28px;
    }
  }
  .mapIconManage {
    position: absolute;
    top: 55px;
    right: 24%;
    z-index: 9;
    margin-right: 15px;
    border: 1px #838a9a solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #153a61;
    box-sizing: border-box;
    > span {
      padding: 2px 5px;
      border-right: 1px #838a9a solid;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background: #1b4574;
      }
    }
    > span.select {
      background: #1b4574;
    }
    > span:last-child {
      border-right: unset;
    }
  }
  .roadState {
    position: absolute;
    left: 24%;
    bottom: 5px;
    z-index: 9;
    padding: 10px 15px 5px;
    margin-left: 15px;
    border: 1px #838a9a solid;
    background: rgba(0, 1, 6, 0.5);
    color: #fff;

    > p {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 8px;
      > h5 {
        width: 100%;
        color: #fff;
        background: url(../../imgs/icon_status.png) no-repeat;
        background-position: left center;
        text-indent: 20px;
      }
      > span {
        padding: 2px 4px;
        color: #fff;
        display: flex;
        font-size: 12px;
      }
      > span:nth-child(1) {
        background: #ff263a;
      }
      > span:nth-child(2) {
        background: #ff6000;
      }
      > span:nth-child(3) {
        background: #ffcc00;
      }
      > span:nth-child(4) {
        background: #26ff6d;
      }
    }
    > p:last-child {
      padding-bottom: 0px;
      h5 {
        background: url(../../imgs/icon_accident.png) no-repeat;
        background-position: left center;
        text-indent: 30px;
      }
    }
  }
  // 遮罩层
  .MaskBox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
  // 标题
  .Title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent: 22px;
    font-size: 17px;
    position: relative;
    .Close {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -8.5px;
      cursor: pointer;
      & svg:hover {
        transition: all 0.5s;
        transform: rotate(180deg);
        color: #26ff6d;
      }
    }
  }
  // 尾部 确认 返回
  .ItemFooter {
    width: calc(100% - 44px);
    height: 90px;
    line-height: 90px;
    text-align: center;
    span {
      width: 95px;
      height: 25px;
      display: inline-block;
      background: #153757;
      border: 1px solid #4f4f4f;
      line-height: 25px;
      text-align: center;
      margin: 0 19px;
      cursor: pointer;
      &:hover {
        background: #191c22;
      }
    }
  }
  .ItemInput {
    width: calc(100% - 120px);
    height: 100%;
    display: inline-block;
    // 修改input 框样式
    :global(.ant-input) {
      height: 25px;
      line-height: 25px;
      color: #fff;
      background-color: #191c22;
      border: 1px solid #959595;
      border-radius: 0;
    }
    // 修改多选框按钮
    :global(.ant-checkbox-wrapper) {
      color: #fff;
    }
    :global(.ant-checkbox-group-item) {
      width: 88px !important;
    }
    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: #191c22;
      border: 1px solid #959595;
    }
    :global(.ant-checkbox-inner) {
      background-color: #191c22;
    }
    // 修改单选按钮
    :global(.ant-radio-wrapper) {
      color: #fff;
    }
    :global(.ant-radio-inner) {
      background-color: #191c22 !important;
    }
    // 日期选择框
    :global(.ant-calendar-picker-clear){
      background-color: #191c22;
      color: #ccc;
    }
    :global(.ant-calendar-picker-icon){
      color: #ccc;
    }
  }
  // 事件检测过滤设置弹窗
  .EventPopup {
    width: 584px;
    height: 318px;
    background: url(../../imgs/popupBg.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 26%;
    top: 50%;
    margin-top: -159px;
    color: #fff;

    // 内容
    .Centent {
      width: 100%;
      height: 268px;
      padding: 25px 22px;
      box-sizing: border-box;
      // 每一行
      .ItemBox {
        width: calc(100% - 44px);
        height: 25px;
        margin-top: 20px;
        &:nth-child(1) {
          margin-top: 0;
        }
        .ItemName {
          width: 120px;
          height: 100%;
          display: inline-block;
          line-height: 25px;
          text-align: left;
          text-indent: 10px;
        }
      }
    }
  }

  .ControlPopup {
    width: 500px;
    left: 42%;
    top: 50%;
    .Centent {
      .ItemName {
        vertical-align: top;
      }
      .ItemInput {
        :global(.ant-radio-wrapper) {
          width: 89px;
          height: 55px;
        }
      }
    }
    .ItemFooter {
      position: absolute;
      bottom: 20px;
    }
  }
  .DetailsBox {
    width: 430px;
    height: 706px;
    background: url(../../imgs/popup_one.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 30%;
    top: 50%;
    margin-top: -353px;
    color: #fff;
    .Content {
      width: 100%;
      height: calc(100% - 50px);
      .Header {
        width: 100%;
        height: 60px;
        display: inline-block;
        padding: 0px 22px;
        span {
          width: 50%;
          height: 100%;
          display: inline-block;
          line-height: 60px;
          font-size: 16px;
        }
      }
      .ItemBox {
        width: 100%;
        .HeadItem {
          width: 100%;
          height: 20px;
          line-height: 20px;
          background: #0e151c;
          color: #4a759c;
          padding: 0px 22px;
        }
        .RowBox {
          width: 100%;
          margin: 6px 0;
          padding: 0px 22px;
          color: #6d738d;
          > p {
            width: 50%;
            display: inline-block;
            :global(.ant-switch) {
              background-color: #191c22;
              border: 1px solid #959595;
            }
            :global(.ant-switch-checked) {
              background-color: #26ff6d !important;
              border: 1px solid #959595;
            }
          }
        }
      }
    }
  }
  .ReserveBox {
    width: 430px;
    height: 930px;
    left: 52%;
    margin-top: -465px;
  }
}
