.MonitoringModule {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  .searchBox {
    position: absolute;
    top: 55px;
    left: 24%;
    z-index: 9;
    margin-left: 15px;
    :global(.ant-input) {
      height: 28px;
      line-height: 28px;
      background: rgba(21, 24, 30, 0.7);
      border-radius: unset;
      border-color: #959595;
      color: #fff;
      font-size: 12px;
    }
    :global(.ant-input-search-button) {
      border: unset;
      height: 28px;
    }
  }
  .mapIconManage {
    position: absolute;
    top: 55px;
    right: 24%;
    z-index: 9;
    margin-right: 15px;
    border: 1px #838a9a solid;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #153a61;
    box-sizing: border-box;
    > span {
      padding: 2px 5px;
      border-right: 1px #838a9a solid;
      font-size: 14px;
      color: #fff;
      cursor: pointer;
      &:hover {
        background: #1b4574;
      }
    }
    > span.select {
      background: #1b4574;
    }
    > span:last-child {
      border-right: unset;
    }
  }
  .roadState {
    position: absolute;
    left: 24%;
    bottom: 5px;
    z-index: 9;
    padding: 10px 15px 5px;
    margin-left: 15px;
    border: 1px #838a9a solid;
    background: rgba(0, 1, 6, 0.5);
    color: #fff;

    > p {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 8px;
      flex-wrap: wrap;
      > h5 {
        width: 100%;
        color: #fff;
        background: url(../../imgs/icon_status.png) no-repeat;
        background-position: left center;
        text-indent: 20px;
      }
      > span {
        padding: 1px 6px;
        color: #fff;
        display: flex;
        font-size: 12px;
      }
      > span:nth-child(1) {
        background: #ff263a;
      }
      > span:nth-child(2) {
        background: #ff6000;
      }
      > span:nth-child(3) {
        background: #ffcc00;
      }
      > span:nth-child(4) {
        background: #26ff6d;
      }
    }
    > p:last-child {
      width: 180px;
      padding-bottom: 0px;
      display: flex;
      justify-content: start;
      h5 {
        background: none;
      }
      > em {
        width: 50%;
        height: 26px;
        line-height: 22px;
        font-size: 12px;
        color: #fff;
        display: inline-block;
        font-style: normal;
        background: url(../../imgs/tollStation_s.png) no-repeat;
        background-position: left center;
        padding-left: 25px;
      }
      > em:nth-child(2) {
        background: url(../../imgs/fBoard_s.png) no-repeat;
      }
      > em:nth-child(3) {
        background: url(../../imgs/speedLimit_s.png) no-repeat;
      }
      > em:nth-child(4) {
        background: url(../../imgs/turnBoard_s.png) no-repeat;
      }
    }
  }
  // 遮罩层
  .MaskBox {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
  }
  // 标题
  .Title {
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-indent: 22px;
    font-size: 15px;
    position: relative;
    color: #fff;
    .Close {
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -8.5px;
      cursor: pointer;
      color: #2d81ad;
      & svg:hover {
        transition: all 0.5s;
        transform: rotate(180deg);
        color: #26ff6d;
      }
    }
  }
  // 尾部 确认 返回
  .ItemFooter {
    width: 100%;
    height: 90px;
    line-height: 90px;
    text-align: center;
    span {
      width: 95px;
      height: 25px;
      display: inline-block;
      background: #153757;
      border: 1px solid #4f4f4f;
      line-height: 25px;
      text-align: center;
      margin: 0 19px;
      cursor: pointer;
      &:hover {
        background: #191c22;
      }
    }
  }
  .CloneItem {
    color: #fff;
    margin-right: 7px;
    cursor: pointer;
    &:hover {
      color: #26ff6d;
      transition: all 0.5s;
      transform: rotate(180deg);
    }
  }
  .ItemInput {
    width: calc(100% - 120px);
    height: 100%;
    display: inline-block;
    // 修改input 框样式
    :global(.ant-input) {
      height: 25px;
      line-height: 25px;
      color: #fff;
      background-color: #191c22;
      border: 1px solid #959595;
      border-radius: 0;
    }
    // 修改多选框按钮
    :global(.ant-checkbox-wrapper) {
      color: #fff;
    }
    :global(.ant-checkbox-group-item) {
      width: 88px !important;
    }
    :global(.ant-checkbox-checked .ant-checkbox-inner) {
      background-color: #191c22;
      border: 1px solid #959595;
    }
    :global(.ant-checkbox-inner) {
      background-color: #191c22;
    }
    // 修改单选按钮
    :global(.ant-radio-wrapper) {
      color: #fff;
    }
    :global(.ant-radio-inner) {
      background-color: #191c22 !important;
    }
    // 日期选择框
    :global(.ant-calendar-picker-clear) {
      background-color: #191c22;
      color: #ccc;
    }
    :global(.ant-calendar-picker-icon) {
      color: #ccc;
    }
    // 下拉框
    :global(.ant-select-selection) {
      background-color: #191c22;
      color: #ccc;
    }
    :global(.ant-select-dropdown) {
      background-color: #191c22;
      color: #ccc;
    }
  }
  // 事件检测过滤设置弹窗
  .EventPopup {
    width: 460px;
    height: 240px;
    background: url(../../imgs/popupBg.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 30%;
    top: 50%;
    margin-top: -159px;
    color: #fff;

    // 内容
    .Centent {
      width: 100%;
      height: 268px;
      padding: 25px 22px;
      box-sizing: border-box;
      // 每一行
      .ItemBox {
        width: calc(100% - 44px);
        height: 25px;
        margin-top: 20px;
        &:nth-child(1) {
          margin-top: 0;
        }
        .ItemName {
          width: 120px;
          height: 100%;
          display: inline-block;
          line-height: 25px;
          text-align: left;
          text-indent: 10px;
        }
      }
    }
  }

  .ControlPopup {
    width: 500px;
    left: 42%;
    top: 50%;
    height: 280px;
    .Centent {
      .ItemName {
        vertical-align: top;
      }
      .ItemInput {
        :global(.ant-radio-wrapper) {
          width: 89px;
          height: 55px;
        }
      }
    }
    .ItemFooter {
      position: absolute;
      bottom: 20px;
    }
  }
  .DetailsBox {
    width: 430px;
    height: 706px;
    background: url(../../imgs/popup_one.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 26%;
    top: 50%;
    margin-top: -353px;
    color: #fff;
  }
  .Content {
    width: 100%;
    height: calc(100% - 140px);
    .Header {
      width: 100%;
      height: 60px;
      display: inline-block;
      padding: 0px 22px;
      span {
        width: 50%;
        height: 100%;
        display: inline-block;
        line-height: 60px;
        font-size: 16px;
      }
    }
    .ItemBox {
      width: 100%;
      .HeadItem {
        width: 100%;
        height: 20px;
        line-height: 20px;
        background: #0e151c;
        color: #4a759c;
        padding: 0px 22px;
        .AddItem {
          float: right;
          cursor: pointer;
          &:hover {
            color: #26ff6d;
          }
        }
      }
      .RowBox {
        width: 100%;
        margin: 6px 0;
        padding: 0px 22px;
        color: #6d738d;
        > p {
          width: 50%;
          display: inline-block;
          :global(.ant-switch) {
            background-color: #191c22;
            border: 1px solid #959595;
          }
          :global(.ant-switch-checked) {
            background-color: #26ff6d !important;
            border: 1px solid #959595;
          }
        }
      }
    }
  }
  .ReserveBox {
    background: url(../../imgs/popup_two.png) center center no-repeat;
    background-size: 100% 100%;
    width: 461px;
    left: 5px;
    height: 93.5%;
    top: 55px;
    margin-top: 0;
    .Content {
      height: calc(100% - 97px);
      min-height: calc(100% - 97px);
      overflow-y: auto;
    }
    .ItemFooter {
      height: 47px;
      line-height: 47px;
    }
  }
  .WhethePopupr {
    width: 420px;
    height: 115px;
    background: url(../../imgs/popup_three.png) center center no-repeat;
    background-size: 100% 100%;
    .Centent {
      height: auto;
    }
  }
}
.WhetheInput {
  width: 185px !important;
  margin: 0 8px;
}
.Eventdetails {
  position: fixed;
  top: 55px;
  bottom: 5px;
  right: 5px;
  width: 24%;
  display: flex;
  align-items: flex-start;
  background-color: rgba(20, 21, 24, 0.9);
  z-index: 99;
  overflow-y: auto;
  :global(.ant-collapse) {
    width: 100%;
  }
  :global(.ant-collapse > .ant-collapse-item > .ant-collapse-header) {
    background: rgba(19, 27, 37, 0.8);
    color: #fff;
  }

  :global(.anticon-setting svg) {
    color: #2d81ad;
    &:hover {
      transition: all 0.5s;
      transform: rotate(180deg);
      color: #26ff6d;
    }
  }
  :global(.anticon-plus svg) {
    color: #2d81ad;
    font-size: 18px;
    &:hover {
      transition: all 0.5s;
      transform: rotate(180deg);
      color: #26ff6d;
      font-size: 18px;
    }
  }
  .ScrollItem {
    max-height: 135px;
    overflow-y: auto;
  }
  .PanelBox {
    position: relative;
    .PanelItem {
      height: 45px;
      line-height: 45px;
      margin: 0;
      text-indent: 22px;
      color: #5a5f74;
      /*  border-bottom: 1px solid #696969; */
      cursor: pointer;
      &:last-child {
        border-bottom: 0;
      }
      &:hover {
        color: #fff;
        background: #2d81ad;
      }
    }
    .MinusItem {
      position: absolute;
      right: 15px;
      top: 13px;
      cursor: pointer;
      color: #2d81ad;
      &:hover {
        transition: all 0.5s;
        transform: rotate(180deg);
        color: #26ff6d;
      }
    }
  }

  .PanelItemNone {
    height: 45px;
    line-height: 45px;
    margin: 0;
    text-align: center;
    text-indent: 22px;
    color: #fff;
    font-size: 16px;
  }
  .Close {
    position: absolute;
    top: 16px;
    left: 10px;
    color: #2d81ad;
    cursor: pointer;
    & svg:hover {
      transition: all 0.5s;
      transform: rotate(180deg);
      color: #26ff6d;
    }
  }
  .Panelbutton {
    width: 100%;
    height: 45px;
    text-align: center;
    line-height: 45px;
    background: #2d81ad;
    color: #fff;
    font-size: 18px;
    position: absolute;
    bottom: 3px;
    cursor: pointer;
    &:hover {
      color: #26ff6d;
    }
  }
}
.VIboardPopup {
  height: 475px !important;
  width: 421px !important;
  background: url(../../imgs/popup_four.png) center center no-repeat !important;
  background-size: 100% 100%;
  left: 27% !important;
  margin-top: -238px !important;
  .Centent {
    padding: 4px 22px !important;
  }
  .ItemBox {
    margin-top: 26px !important;
  }
  .ItemFooter {
    position: absolute;
    bottom: 10px !important;
  }
}
.conditionPopup {
  left: 52% !important;
  margin-top: -238px !important;
  .Centent {
    height: 330px !important;
    min-height: 330px !important;
    overflow-y: auto !important;
  }
  :global(.ant-checkbox-wrapper) {
    color: #fff;
    display: block;
    margin: 8px 0 !important;
  }
  :global(.ant-checkbox-wrapper) {
    color: #fff;
  }
  :global(.ant-checkbox-group-item) {
    width: 88px !important;
  }
  :global(.ant-checkbox-checked .ant-checkbox-inner) {
    background-color: #191c22;
    border: 1px solid #959595;
  }
  :global(.ant-checkbox-inner) {
    background-color: #191c22;
  }
  :global(.ant-checkbox-group .ant-checkbox + span) {
    width: 300px;
    height: 30px;
    line-height: 30px;
    display: inline-block;
    border: 1px solid #959595;
    margin-left: 20px;
  }
  :global(.ant-checkbox-disabled + span) {
    color: #5a5f72;
  }
}
.EventTagging {
  position: fixed;
  top: 55px;
  bottom: 5px;
  left: 5px;
  right: unset;
  width: 24%;
  display: flex;
  background: url(../../imgs/popup_two.png) center center no-repeat;
  background-size: 100% 100%;
  z-index: 99;
  overflow-y: auto;
  .Centent {
    height: calc(100% - 97px);
    min-height: calc(100% - 97px);
    overflow-y: auto;
    width: 100%;
    position: absolute;
    top: 50px;
    padding: 22px 22px 0 22px;
    color: #fff;
    .ItemBox {
      margin-top: 20px;
      :global(.ant-select-arrow) {
        color: #fff;
      }
      .AddItem {
        height: 30px;
        line-height: 30px;
        color: #fff;
        background-color: #191c22;
        border: 1px solid #959595;
        border-radius: 0;
        text-align: center;
        cursor: pointer;
        margin: 5px 0;
      }
    }
    .ItemName {
      width: 120px;
      height: 100%;
      display: inline-block;
      line-height: 25px;
      text-align: left;
      text-indent: 10px;
      vertical-align: top;
    }
  }
  .ItemFooter {
    position: absolute !important;
    bottom: 20px !important;
    color: #fff;
  }
}
