
@font-face {
  font-family: FZLTZHUNHK--GBK1-0;
  src: url("../../plugs/font/FZLTZHUNHK--GBK1-0.ttf");
}
.DetailsBox {
    width: 430px;
    height: 706px;
    background: url(../../imgs/popup_one.png) center center no-repeat;
    background-size: 100% 100%;
    position: absolute;
    left: 26%;
    top: 50%;
    margin-top: -353px;
    color: #fff;
  }
  .ReserveBox {
    background: url(../../imgs/popup_two.png) center center no-repeat;
    background-size: 100% 100%;
    width: 44%;
    height: 88%;
    color: #fff;
    .Content {
      height: calc(100% - 97px);
      min-height: calc(100% - 97px);
      overflow-y: auto;
      .RowBox > p {
        width: 33.33%;
        font-family: FZLTZHUNHK--GBK1-0;
      }
      :global(.ant-input) {
        height: 32px;
        line-height: 32px;
        color: #fff;
        background-color: #191c22;
        border: 1px solid #959595;
        border-radius: 0;
      }
    }
    .ItemFooter {
      height: 47px;
      line-height: 47px;
    }
  }
  